@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
/* Remove border-bottom from selected menu item */
/* .ant-menu-item-selected::after, 
.ant-menu-item-selected, 
.ant-menu-item:hover::after, 
.ant-menu-item{
    border-bottom: none !important;
    border-bottom-color: transparent !important;
    color: black !important;
}
    */